# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\УНИВЕР\SPPNASTYA\2Laba\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
